.header {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.header img {
    height: 2rem;
}

.title {
    color: var(--gray-100);
    font-size: 1.599rem;
    font-weight: 700;
    line-height: 160%;
}